body {
    font-family:"Open Sans", sans-serif;
margin: 0px;
background-color:#FEFAF1;
}

nav {
height: 50px;
margin-left: auto;
margin: 10px;
color:aliceblue;
text-align: center;
width: 350px;
}

h1 {
    font-size: 45px;
    font-family: 'Playfair Display';
    color: #46726F;
}

h3 {
    font-family: 'Playfair Display';
}

h2 {
    font-family: 'Playfair Display';
}
/* home page things */ 

.inline-block-1 {
padding: 15px;
display: inline-block;
width: 75px;
text-align: center;
font-family: 'Playfair Display';
font-size: 20px;
text-decoration:none;
}
/*.inline-block-1:hover {
    padding: 15px;
display: inline-block;
width: 75px;
text-align: center;
font-family: 'Playfair Display';
font-size: 20px;
text-decoration:none;
    font-weight: bold;
}*/

.bold {
    font-weight: bold;
}
.toggleContainer {
    padding: 15px;
    display: none;
    opacity: 0;
    transition:  opacity 0.3s ease, max-height 0.3s ease;
  }

  .active {
    display: block;
    color: #46726F;
  }
.dropdownitem {
    outline: solid 2px;
}
.logo {
font-family: 'Playfair Display';
color: #46726F;
font-size: 40px;
text-align:center;
width: 100px;
height: 10px;
padding: 15px;
margin-top: 0px;
}

.header {
background-color:#FEFAF1;
height: 70px ;
width: 100%;
display:flex;
justify-content: space-between;
}

.aboutmecontainer {
display:grid;
grid-template-columns: 1fr 800px 3fr;
grid-template-rows: 20% 200px 25%;
}

.aboutmetext {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
}

.header1 {
font-size: 60px;
}

.subtitle1 {
font-size: 30px;
color:#46726F;
}

.projectcontainer {
display: grid;
grid-template-columns: 20% 300px 15px 200px 15px 300px 20%;
grid-template-rows: 160px 400px 5% 400px 5% 400px 10%;
margin-bottom: 300px;
}

.projectphotos {
width: auto;
height: 300px;
/* outline: thick solid darkolivegreen; */
}

.projectdescription {
width: auto;
height: 250px;
outline: thick solid #fccfe1;
border-radius: 15px;
margin-left: 20px;
margin-right: 20px;
text-align: left;
padding: 25px;
background-color: white;
}

/* skills */
.introcontainer {
    display:flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.skillscontainer {
   display: flex;
   justify-content: center;
}

.skillstext {
    width: 500px;
}

.skillslist {
    margin: 30px;
}

.skillsphoto {
    width: 330px; height: 500px;
}

/* projects page */

.myprojectscontainer {
    display: grid;
    grid-template-columns: 1fr 500px 30px 500px 1fr;
    grid-template-rows: 10px 400px 15% 400px 10%;
    margin-bottom: 200px;
}

.myprojectscontainergrid {
    display:flex;
    flex-direction: column;
    width: 500px;
}

.myprojectscontainertext {
    outline: solid darkolivegreen 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 15px; 
}

.myprojectscontainerimage {
    width: 500px; 
    height: 300px;
    border-radius: 15px; 
    /* outline: solid darkolivegreen 2px ; */
}

.myprojects1 {
    grid-column-start: 2; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3;
}

.myprojects2 {
    grid-column-start: 4; grid-column-end: 5; grid-row-start: 2; grid-row-end: 3;
}

.myprojects3 {
    grid-column-start: 2; grid-column-end: 3; grid-row-start: 4; grid-row-end: 5;
}

.myprojects4 {
    grid-column-start: 4; grid-column-end: 5; grid-row-start: 4; grid-row-end: 5;
}


/* Footer things */
.footer {
    background-color: darkolivegreen;
    height: 70px ;
    width: 100%;
    display:flex;
    justify-content: center;
    }

.footertext{
color: antiquewhite;
}


/* */